@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        --tw-text-opacity: 1;
        color: rgb(59 130 246 / var(--tw-text-opacity));
    };
    pre {
        background:none !important
    }
  }